#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

override_dh_install:
	mkdir -p debian/novena-usb-hub/lib/systemd/system-sleep/
	cp reset-bluetooth-port.sh debian/novena-usb-hub/lib/systemd/system-sleep/

%:
	dh $@ --with=systemd
